<div class="homepage">
  <div class="logo">
    <%= image_tag "StoryDomLogo.png" %>
  </div>

  <div class="homepage-btns">
    <div class="home-btn">
      <%= link_to "Create a Story", new_story_path %>
    </div>

    <div class="home-btn">
      <%= link_to "Load a Story", stories_path %>
    </div>

    <div class="home-btn">
      <%= link_to "Settings", new_story_path %>
    </div>

    <div class="home-btn">
      <%= link_to "Exit", new_story_path %>
    </div>

  </div>
</div>
