<div class="new-story">
  <%= simple_form_for @story, html: {class:"new-form"} do |f| %>
    <%= f.input :character, class:"d-none" %>
    <%= f.input :item, class:"d-none" %>
    <%= f.input :place, class:"d-none" %>

    <p class="start"><%= f.submit 'Start', class:"btn btn-danger" %></p>
    <p class="back"><%= link_to "Back", root_path, class:"btn btn-danger" %></p>
  <% end %>

  <div class="new-tabs">

    <div class="tab tab-character" data-tab-character= <%= @characters %>>
      <% @characters.each do |character| %>
        <div class="click-character">
          <div class="stickers stickers-character" data-character-id= <%= character.id %>>
              <%= image_tag(character.photo, class:"img-character") %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab tab-item" data-tab-character= <%= @items %>>
      <% @items.each do |item| %>
        <div class="click-item">
          <div class="stickers stickers-item" data-item-id= <%= item.id %> >
              <%= image_tag(item.photo, class:"img-item") %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab tab-place" data-tab-character= <%= @places %>>
      <% @places.each do |place| %>
        <div class="click-place">
          <div class="stickers stickers-place" data-place-id= <%= place.id %> >
              <%= image_tag(place.photo, class:"img-place") %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>

<script>
  const characters = document.querySelectorAll(".stickers-character")
  const characterForm = document.querySelector("#story_character")

  characters.forEach(character => {
    character.addEventListener("click", () => {
      console.log(character.dataset)
      characterForm.value = character.dataset.characterId
      const active = document.querySelector(".active-character")
      if (active) {
        active.classList.remove("active-character")
      }
      character.classList.add("active-character")
    })
  });

  const items = document.querySelectorAll(".stickers-item")
  const itemForm = document.querySelector("#story_item")

  items.forEach(item => {
    item.addEventListener("click", () => {
      itemForm.value = item.dataset.itemId
      const active = document.querySelector(".active-item")
      if (active) {
        active.classList.remove("active-item")
      }
      item.classList.add("active-item")
    })
  });

  const places = document.querySelectorAll(".stickers-place")
  const placeForm = document.querySelector("#story_place")

  places.forEach(place => {
    place.addEventListener("click", () => {
      placeForm.value = place.dataset.placeId
      const active = document.querySelector(".active-place")
      if (active) {
        active.classList.remove("active-place")
      }
      place.classList.add("active-place")
    })
  });

  const labels = document.querySelectorAll("label")

  labels.forEach(label => {
    label.addEventListener("click", () => {
      labels.forEach((label2) => {
        label2.classList.remove("active-label")
        label.classList.add("active-label")
      })
      const active = document.querySelector(".active-tab")
      var tab = ""
      if (active) {
        label.classList.remove("active-label")
        active.classList.remove("active-tab")
      }
      if (label.innerHTML.includes("Character")) {
        tab = document.querySelector(".tab-character")
      } else if (label.innerHTML.includes("Item")) {
        tab = document.querySelector(".tab-item")
      } else if (label.innerHTML.includes("Place")) {
        tab = document.querySelector(".tab-place")
      }
      tab.classList.add("active-tab")
      label.classList.add("active-label")
    })
  })

</script>
