
<div class="new-story">
  <%= simple_form_for @story do |f| %>
  <div>
    <%= f.association :character, collection: Character::CHARACTER_NAMES, class:"story-btn" %>
  </div>
  <div>
    <%= f.association :item, collection: Item::ITEM_NAMES %>
  </div>
  <div>
    <%= f.association :place, collection: Place::PLACE_NAMES %>
  </div>
    <p class="start"><%= f.submit 'Start', class:"btn btn-outline-danger" %></p>
    <p class="back"><%= link_to "Back", root_path, class:"btn btn-outline-danger" %></p>
  <% end %>

</div>
