<div class="new-story">
  <%= simple_form_for @story, html: {class:"new-form"} do |f| %>
    <%= f.input :character, class:"d-none" %>
    <%= f.input :item, class:"d-none" %>
    <%= f.input :place, class:"d-none" %>

    <p class="start"><%= f.submit 'Start', class:"btn btn-danger" %></p>
    <p class="back"><%= link_to "Back", root_path, class:"btn btn-danger" %></p>
  <% end %>

  <div class="new-tabs">

    <div class="tab tab-character" data-tab-character= <%= @characters %>>
      <% @characters.each do |character| %>
        <div class="click-character">
          <div class="stickers stickers-character" data-character-id= <%= character.id %>>
              <%= image_tag(character.photo, class:"img-character") %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab tab-item" data-tab-character= <%= @items %>>
      <% @items.each do |item| %>
        <div class="click-item">
          <div class="stickers stickers-item" data-item-id= <%= item.id %> >
              <%= image_tag(item.photo, class:"img-item") %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="tab tab-place" data-tab-character= <%= @places %>>
      <% @places.each do |place| %>
        <div class="click-place">
          <div class="stickers stickers-place" data-place-id= <%= place.id %> >
              <%= image_tag(place.photo, class:"img-place") %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
