<% if @story.character.typ == "Human" %>
  <div class="pages page-2-<%="#{@story.place.name}"%>">
<% else %>
  <div class="pages page-1-<%="#{@story.place.name}"%>">
<% end %>

  <div>
    <% if @story.place.name == "Mountain" %>
      <canvas id="canvas-snow"></canvas>
    <% elsif @story.place.name == "Forest" %>
      <canvas id="canvas-rain"></canvas>
    <% end %>
  </div>

  <div class="page-char-stickers">
    <%= image_tag "#{@story.character.photo}", class: "#{@story.character.typ.downcase}-char-page2"  %>
    <%= image_tag "#{@character2.photo}", class: "#{@character2.typ.downcase}-char-page2" %>
  </div>

</div>

<div class="page-text">
  <p class="text"><%= @story_trig %></p>

  <p class="next"><%= link_to "Next", page3_story_path(@story, character2: @character2), class:"btn btn-danger" %></p>

  <p class="previous"><%= link_to "Previous", page1_story_path(@story, character2: @character2), class:"btn btn-danger" %></p>
</div>
