<div class="pages page-5-<%="#{@story.place.name}"%>">

  <div>
    <% if @story.place.name == "Mountain" %>
      <canvas id="canvas-snow"></canvas>
    <% elsif @story.place.name == "Forest" %>
      <canvas id="canvas-rain"></canvas>
    <% end %>
  </div>

  <div class="page-char-stickers">
    <%= image_tag "#{@story.character.photo}", class: "#{@story.character.typ.downcase}-char-page5" %>
    <%= image_tag "#{@character2.photo}", class: "#{@character2.typ.downcase}-char-page5" %>
  </div>

</div>

<div class="page-text">
  <p class="text"><%= @story_out %></p>

  <p class="next"><%= link_to "Next", page6_story_path(@story, character2: @character2), class:"btn btn-danger" %></p>

  <p class="previous"><%= link_to "Previous", page4_story_path(@story, character2: @character2), class:"btn btn-danger" %></p>
</div>
