<div class="page-3-<%="#{@story.place.name}"%>">

  <div class="page-char-stickers">
    <%= image_tag "#{@story.character.photo}", class: "human-char" %>
    <%= image_tag "#{@character2.photo}", class: "#{@story.character.typ.downcase}-char" %>
  </div>

  <div class="page-item-stickers">
    <%= image_tag "#{@story.item.photo}", class: "human-char" %>
  </div>
</div>

<div class="page-text">
  <p class="text"><%= @story_adv1 %></p>

  <p class="next"><%= link_to "Next", page4_story_path(@story, character2: @character2), class:"btn btn-danger" %></p>

  <p class="previous"><%= link_to "Previous", page2_story_path(@story, character2: @character2), class:"btn btn-danger" %></p>
</div>
