<div class="page-6-<%="#{@story.place.name}"%>">

  <div class="page-char-stickers">
    <%= image_tag "#{@story.character.photo}", class: "human-char" %>
  </div>

</div>

<div class="page-text">
  <p class="text"><%= @story_fin %></p>

  <p class="next"><%= link_to "End", end_story_path(@story, character2: @character2), class:"btn btn-danger" %></p>

  <p class="previous"><%= link_to "Previous", page5_story_path(@story, character2: @character2), class:"btn btn-danger" %></p>
</div>
